# ==========================================
# FFGlory Bot Service (Server-side Only)
# ==========================================
FFGLORY_API_BASE=
FFGLORY_API_KEY=
RESELLER_API_BASE=
RESELLER_API_KEY= ffg_live_3ed33a6031058ce4d77adeab2879bc921c7a9977a57b42a0

# ==========================================
# Merchant Payment Gateway (Server-side Only)
# ==========================================
MERCHANT_API_BASE=
MERCHANT_API_KEY= https://lgpay-setup-api.vercel.app/create-qr?amount=1&remark=hello
MERCHANT_SECRET=
FONEPAY_API_BASE=
